.destinations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 112px 80px;
    gap: 32px;
    width: 1440px;
    height: 762px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 0px;
    width: 1280px;
    height: 164px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 628px;
    height: 164px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title {
    width: 628px;
    height: 59px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 110%;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.subtitle {
    width: 628px;
    height: 93px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #171717;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.moreText {
    width: auto;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #171717;
    flex: auto;
    order: 1;
    flex-grow: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 23px;
    width: 1280px;
    height: 342px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    width: 411px;
    height: 342px;
    border: 1px solid #171717;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
}

.card1 {
    background-image: url(/Card1.png);
}

.card2 {
    background-image: url(/Card2.png);
}

.card3 {
    background-image: url(/Card3.png);
}

.cardContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;
    width: 411px;
    height: 74px;
    background: #FFFFFF;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.cardTitle {
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
}
