.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 24px 80px;
    gap: auto;
    width: 1440px;
    height: 130px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    width: 200px;
    height: 66px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 0px 14px 24px;
    gap: 8px;
    background: transparent;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/* Button / Primary */

/* Auto layout */
/* display: flex;
flex-direction: row;
align-items: center;
padding: 14px 18px 14px 24px;
gap: 8px;

width: 166px;
height: 48px;

background: #6A65FD;
border-radius: 16px;

/* Inside auto layout */

